# Tenant ID or primary domain name
TENANT_ID=

# Entra ID application with the application role "dc890d15-9560-4a4c-9b7f-a736ec74ec40"
# This equals https://outlook.office.com/full_access_as_app
EWS_IMPERSONATE_CLIENT_ID=
EWS_IMPERSONATE_CLIENT_SECRET=

# Entra ID application with the delegation scope "3b5f3d61-589b-4a3c-a359-5dd4b5ee5bd5"
# This equals https://outlook.office.com/EWS.AccessAsUser.All
EWS_DELEGATE_CLIENT_ID=
EWS_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient

# This is the UPN of the victim
VICTIM_UPN=