# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the delegation scope "ab4f2b77-0b06-4fc1-a9de-02113fc2ab7c"
# This equals https://outlook.office.com/Exchange.Manage
EXOPS_DELEGATE_CLIENT_ID=
EXOPS_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
