# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with dynamic scopes (we request permissions as we go)
GRAPH_DELEGATE_CLIENT_ID=
GRAPH_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
