# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the delegation scopes "30b2d850-00c3-4802-b7ae-ece9af9de5c6" and "44d8c55c-9ffc-4546-883e-9041b5bb0b01"
PWRAU_DELEGATE_CLIENT_ID=
PWRAU_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
