# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the application roles "594c1fb6-4f81-4475-ae41-0c394909246c", "4807a72c-ad38-4250-94c9-4eabfe26cd55" and "e2cea78f-e743-4d8f-a16a-75b629a038ae"
# This equals https://manage.office.com/ActivityFeed.Read, https://manage.office.com/ActivityFeed.ReadDlp and https://manage.office.com/ServiceHealth.Read
PURVIEW_IMPERSONATE_CLIENT_ID=
PURVIEW_IMPERSONATE_CLIENT_SECRET=

# Entra ID application with the delegation scopes "594c1fb6-4f81-4475-ae41-0c394909246c", "4807a72c-ad38-4250-94c9-4eabfe26cd55" and "e2cea78f-e743-4d8f-a16a-75b629a038ae"
# This equals https://manage.office.com/ActivityFeed.Read, https://manage.office.com/ActivityFeed.ReadDlp and https://manage.office.com/ServiceHealth.Read
PURVIEW_DELEGATE_CLIENT_ID=
PURVIEW_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
