# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the delegation scope "56680e0d-d2a3-4ae1-80d8-3c4f2100e3d0"
# This equals https://microsoft.sharepoint.comAllSites.FullControl (the / is not in the Azure Portal)
SPOLD_DELEGATE_CLIENT_ID=
SPOLD_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
