# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the delegation scope "b3f70a70-8a4b-4f95-9573-d71c496a53f4"
# This equals https://microsoft.sharepoint.comAllSites.Manage (the / is not in the Azure Portal)
SPOREST_DELEGATE_CLIENT_ID=
SPOREST_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient
