# Tenant ID or primary domain name
TENANT_ID=pietersdevtenant.onmicrosoft.com

# Entra ID application with the delegation scope "56680e0d-d2a3-4ae1-80d8-3c4f2100e3d0" of resource app id "00000003-0000-0ff1-ce00-000000000000"
# This equals https://microsoft.sharepoint.comAllSites.FullControl (the / is not in the Azure Portal)
SPOREST1_DELEGATE_CLIENT_ID=
SPOREST1_DELEGATE_REDIRECT_URI=https://login.microsoftonline.com/common/oauth2/nativeclient

#	"requiredResourceAccess": [
#		{
#			"resourceAppId": "00000003-0000-0ff1-ce00-000000000000",
#			"resourceAccess": [
#				{
#					"id": "56680e0d-d2a3-4ae1-80d8-3c4f2100e3d0",
#					"type": "Scope"
#				}
#			]
#		}
#	],